version: '3.8'

services:
  backend:
    build:
      context: ./flight-search-backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./flight-search-backend/.env
    networks:
      - app-network

  frontend:
    build:
      context: ./flight-search-frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://localhost:8000
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
